body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #F4F4F4;
}
.quiz-heading {
        background: #343A40;
        color: white;
        text-align: center; 
        padding: 20px;
}
.question-card {
        background: white;
        max-width: 600px;
        width: 90%;
        padding: 15px 20px;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input {
        margin: 10px 5px;
        cursor: pointer;
}
.submit {
        background: #FFC107;
        border: none;
        border-radius: 5px;
        padding: 9px 15px;
}
.next {
        background: #28A745;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 9px 15px;
}
li {
        margin: 20px;
}
.answer-label {
        background: #28A745;
        color: white;
        padding: 5px;
        font-size: 14px;
        text-align: center;
        width: fit-content;
        margin: 5px;
        border-radius: 5px;
}
.correct {
        background: #D4EDDA;
        color: #156340;
        margin: 5px 0px -15px 0px !important;
        border-radius: 5px;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        width: fit-content;
}
.incorrect {
        background: #F8D7DA;
        color: #722845;
        margin: 5px 0px -15px 0px !important;
        border-radius: 5px;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        width: fit-content;
}
.idle {
        margin: 0px !important;
        padding: 0px;
        visibility: hidden;
}
.app-body {
        max-width: 600px;
        width: 90%;
        padding: 10px 10px;
        margin: 0px auto;
}
.answer-key {
        margin: 0px 10px;
        display: none;
}
button {
        background: #17A2B8;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 9px 15px;
        margin: 0px 10px;
        display: none;
}
